<!doctype html>
{% load static %}
<html>
<head>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no">
      <meta charset="utf-8">
  <title>计划生成</title>
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- DataTables -->
  <link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/toastr/toastr.min.css' %}">
  <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">
</head>
<body class="hold-transition sidebar-mini sidebar-collapse">
<div class="wrapper">
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
{#      <li class="nav-item">#}
{#        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>#}
{#      </li>#}
      <li class="nav-item d-none d-sm-inline-block">
        <a href="#" class="nav-link">Home</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="#" class="nav-link">Contact</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <div class="form-group">
            <div class="input-group date" id="req_date_picker" data-target-input="nearest">
                <input type="text" id="req_date" class="form-control datetimepicker-input" data-target="#req_date_picker"/>
                <div class="input-group-append" data-target="#req_date_picker" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
            </div>
        </div>
      </li>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">

      <!-- Messages Dropdown Menu -->

      <!-- Notifications Dropdown Menu -->
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="far fa-bell"></i>
          <span class="badge badge-warning navbar-badge">15</span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <span class="dropdown-item dropdown-header">15 Notifications</span>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-envelope mr-2"></i> -----
            <span class="float-right text-muted text-sm">3 mins</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-users mr-2"></i> =========
            <span class="float-right text-muted text-sm">12 hours</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-file mr-2"></i> ========
            <span class="float-right text-muted text-sm">2 days</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-widget="fullscreen" href="#" role="button">
          <i class="fas fa-expand-arrows-alt"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
          <i class="fas fa-th-large"></i>
        </a>
      </li>
    </ul>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4" style="display: none">
    <!-- Brand Logo -->
    <a href="#" class="brand-link">
      <img src="{% static 'dist/img/logo.png' %}" alt="" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">XMO Planer</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item menu-open">
            <a href="#" class="nav-link active">
              <i class="nav-icon fas fa-table"></i>
              <p>
                列表
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="#" class="nav-link active">
                  <i class="far fa-circle nav-icon"></i>
                  <p>--</p>
                </a>
              </li>
            </ul>
          </li>

        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-8">
            <div class="card">
{#              <div class="card-header">#}
{#                <h3 class="card-title">aladin 星图</h3>#}
{#              </div>#}
              <!-- /.card-header -->
              <div class="card-body">
                  <div id="aladin-lite-div" style="width: 1000px; height: 800px"></div>
              </div><!-- /.card-body -->
            </div>
            <!-- /.card -->

          </div>
          <!-- /.col -->
        <div class="col-md-4">

            <div class="row">
                <div class="col-md-6">
                    <div class="input-group-append">
                        <label class="col-form-label" for="simple_dec_start_val"><i class="far  fa-arrows-v"></i>开始 dec</label>
                        <input type="text" class="form-control is-warning" id="simple_dec_start_val" placeholder="开始 dec" value="0.0">
                    </div>
                    <div class="input-group-append">
                        <label class="col-form-label" for="simple_dec_end_val"><i class="far  fa-arrows-v"></i>结束 dec</label>
                        <input type="text" class="form-control is-warning" id="simple_dec_end_val" placeholder="结束 dec" value="10.0">
                    </div>
                </div>
                <div class="col-md-2">
                    <button id="simple-jgg-kats-button" class="btn btn-default" data-sysname="kats">
                        <i class="fas fa-check-circle">简易九宫格 KATS</i>
                    </button>

                </div>
            </div>
        </div>

        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-md-2">
                <div class="input-group-append">
                    <label class="col-form-label" for="x_cen_val"><i class="far fa-flash"></i>RA</label>
                    <input type="text" class="form-control is-warning" id="x_cen_val" placeholder="RA" value="0">
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group-append">
                    <label class="col-form-label" for="y_cen_val"><i class="far fa-flash"></i>Dec</label>
                    <input type="text" class="form-control is-warning" id="y_cen_val" placeholder="Dec" value="0">
                </div>
            </div>
            <div class="col-md-3">
                <div class="input-group-append">
                  <button id="get-ra-dec-button" class="btn btn-default">
                    <i class="fas fa-unsorted">获取星图 RA Dec （拖拽 双击）星图定位）</i>
                  </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="input-group-append">
                    <label class="col-form-label" for="x_row_val"><i class="far fa-flash"></i>行 row</label>
                    <input type="text" class="form-control is-warning" id="x_row_val" placeholder="行 row" value="3">
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group-append">
                    <label class="col-form-label" for="y_col_val"><i class="far  fa-arrows-v"></i>列 col</label>
                    <input type="text" class="form-control is-warning" id="y_col_val" placeholder="列 col" value="3">
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group-append">
                    <label class="col-form-label" for="x_img_val"><i class="far  fa-arrows-v"></i>宽</label>
                    <input type="text" class="form-control is-warning" id="x_img_val" placeholder="宽" value="3.333333334">
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group-append">
                    <label class="col-form-label" for="y_img_val"><i class="far  fa-arrows-v"></i>高</label>
                    <input type="text" class="form-control is-warning" id="y_img_val" placeholder="高" value="2.216666667">
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group-append">
                    <label class="col-form-label" for="req_col_max_ra_deg"><i class="far  fa-arrows-v"></i>RA max</label>
                    <input type="text" class="form-control is-warning" id="req_col_max_ra_deg" placeholder="RA max" value="355.0">
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group-append">
                    <label class="col-form-label" for="req_row_max_dec_deg"><i class="far  fa-arrows-v"></i>Dec max</label>
                    <input type="text" class="form-control is-warning" id="req_row_max_dec_deg" placeholder="Dec max" value="80.0">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                  <button id="switch-to-kats-button" class="btn btn-default" data-sysname="kats">
                    <i class="fas fa-check-circle">KATS</i>
                  </button>
            </div>
            <div class="col-md-2">
                  <button id="switch-to-east-button" class="btn btn-default" data-sysname="east">
                    <i class="fas fa-check-circle">EAST</i>
                  </button>
            </div>
            <div class="col-md-2">
                  <button id="switch-to-pat-button" class="btn btn-default" data-sysname="pat">
                    <i class="fas fa-check-circle">PAT</i>
                  </button>
            </div>
            <div class="col-md-2">
                  <button id="switch-to-gy7-button" class="btn btn-default" data-sysname="gy7">
                    <i class="fas fa-check-circle">GY7</i>
                  </button>
            </div>
            <div class="col-md-2">
                <input type="checkbox" id="do-generate" data-bootstrap-switch>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <button id="manual-gen-kats-button" class="btn btn-default" data-sysname="kats">
                    <i class="fas fa-check-circle">手动九宫格 KATS</i>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                  <button id="load-from-kats-button" class="btn btn-default">
                    <i class="fas fa-check-circle">加载 KATS</i>
                  </button>
            </div>
            <div class="col-md-2">
                  <button id="load-from-east-button" class="btn btn-default">
                    <i class="fas fa-check-circle">加载 EAST</i>
                  </button>
            </div>
            <div class="col-md-2">
                  <button id="load-from-pat-button" class="btn btn-default">
                    <i class="fas fa-check-circle">加载 PAT</i>
                  </button>
            </div>
            <div class="col-md-2">
                  <button id="load-from-gy7-button" class="btn btn-default">
                    <i class="fas fa-check-circle">加载 GY7</i>
                  </button>
            </div>
            <div class="col-md-2">
                  <button id="load-from-jgg-button" class="btn btn-default">
                    <i class="fas fa-check-circle">加载 jgg</i>
                  </button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="input-group-append">
                    <label class="col-form-label" for="overlap_val"><i class="far fa-bell"></i>重叠量 overlap （度 deg） </label>
                    <input type="text" class="form-control is-warning" id="overlap_val" placeholder="重叠量 overlap （度 deg）" value="0.04">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="input-group-append">
{#                  <button id="add-marker-button" class="btn btn-default">#}
{#                    <i class="fas fa-check-circle">添加标记点</i>#}
{#                  </button>#}
                    <span class="">&nbsp;&nbsp;</span>
                  <button id="draw-sun-button" class="btn btn-default">
                    <i class="fas fa-check-circle">生成计划（启动后第一次比较慢）</i>
                  </button>
                    <span class="">&nbsp;&nbsp;</span>
                  <button id="draw-jgg-button" class="btn btn-default">
                    <i class="fas fa-check-circle">九宫格（启动后第一次比较慢）</i>
                  </button>
                  <button id="combine-jgg-button" class="btn btn-default">
                    <i class="fas fa-check-circle">拼接九宫格</i>
                  </button>
                    <span class="">&nbsp;&nbsp;</span>
                  <button id="clear-plan-squire-button" class="btn btn-default">
                    <i class="fas fa-check-circle">清除</i>
                  </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="input-group-append">
                    <label class="col-form-label" >plan 存放目录：</label>
                    <label id="out-plan-path" class="col-form-label" >-- </label>
                </div>
            </div>
        </div>


        </div><!-- /.container-fluid -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'plugins/jquery-validation/jquery.validate.min.js' %}"></script>
<script src="{% static 'plugins/jquery-validation/additional-methods.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap/js/bootstrap-switch.min.js' %}"></script>
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>

<script src="{% static 'plugins/toastr/toastr.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'dist/js/adminlte.min.js' %}"></script>
<script src="{% static 'plugins/moment/moment.min.js' %}"></script>
<script src="{% static 'plugins/inputmask/jquery.inputmask.min.js' %}"></script>
<script src="{% static 'plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js' %}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{% static 'dist/js/demo.js' %}"></script>
<script type="text/javascript" src="{% static 'skymap/aladin.umd.cjs' %}" charset="utf-8"></script>
<script type="text/javascript">
    let data_cat_01={'大熊': [[[206.8856, 49.3133], [200.9809, 54.9254], [193.5067, 55.9598], [183.8560, 57.0326], [165.9326, 61.7511], [165.4599, 56.3823], [178.4572, 53.6947], [183.8560, 57.0326]], [[178.4572, 53.6947], [176.5130, 47.7793], [167.4160, 44.4985], [154.2747, 42.9144]], [[167.4160, 44.4985], [155.5824, 41.4994]], [[165.4599, 56.3823], [148.0265, 54.0642], [143.2180, 51.6786], [135.9065, 47.1566]], [[143.2180, 51.6786], [134.8034, 48.0423]], [[148.0265, 54.0642], [147.7487, 59.0391], [127.5667, 60.7184], [142.8815, 63.0618], [165.9326, 61.7511]]]}
    let data_cat_02={'小熊': [[[37.9461, 89.2641], [263.0537, 86.5863], [251.4923, 82.0372], [236.0144, 77.7945], [244.3770, 75.7546], [230.1822, 71.8339], [222.6766, 74.1554], [236.0144, 77.7945]]]}
    let data_cat_03={'仙后': [[[28.5986, 63.6701], [21.4525, 60.2354], [14.1770, 60.7167], [10.1266, 56.5374], [2.2920, 59.1502]]]}
    let data_cat_04={'猎户': [[[85.1896, -1.9425], [84.0533, -1.2019], [83.0016, -0.2990]], [[90.8639, 19.6906], [92.9849, 14.2088], [91.8929, 14.7685], [88.5961, 20.2764]], [[92.9849, 14.2088], [90.5957, 9.6473], [88.7928, 7.4070], [85.1896, -1.9425], [86.9391, -9.6696], [78.6344, -8.2016], [83.0016, -0.2990], [81.2827, 6.3497], [83.7844, 9.9341], [88.7928, 7.4070]], [[81.2827, 6.3497], [72.4589, 6.9612], [72.8015, 5.6051], [73.3448, 2.5082], [74.6370, 1.7140]], [[72.4589, 6.9612], [72.6529, 8.9002], [73.7237, 10.1511]], [[91.8929, 14.7685], [90.5957, 9.6473]]]}
    let data_cat_05={'狮子': [[[177.2661, 14.5723], [168.5601, 15.4297], [152.0935, 11.9671], [151.8331, 16.7626], [154.9923, 19.8418], [168.5267, 20.5240], [177.2661, 14.5723]], [[154.9923, 19.8418], [154.1724, 23.4173], [148.1915, 26.0070], [146.4629, 23.7742]], [[168.5267, 20.5240], [168.5601, 15.4297]]]}
    let data_cat_06={'飞马': [[[3.3089, 15.1836], [346.1900, 15.2053]], [[345.9430, 28.0824], [340.7505, 30.2213], [332.3069, 33.1725]], [[345.9430, 28.0824], [342.5004, 24.6016], [341.6326, 23.5656], [331.7519, 25.3450], [326.1612, 25.645]], [[346.1900, 15.2053], [341.6726, 12.1740], [340.3652, 10.8313], [332.5492, 6.1977], [326.0464, 9.875]], [[2.0965, 29.0908], [345.9430, 28.0824]], [[2.0965, 29.0908], [3.3089, 15.1836]], [[345.9430, 28.0824], [346.1900, 15.2053]]]}
    let data_cat_07={'天鹅': [[[289.2754, 53.3681], [292.4264, 51.7294], [296.2435, 45.1306], [305.5570, 40.2566], [310.3579, 45.2803]], [[305.5570, 40.2566], [311.5517, 33.9694], [318.2340, 30.2270], [326.0349, 28.7432]], [[305.5570, 40.2566], [299.0766, 35.0835], [292.6803, 27.9596]]]}
    let data_cat_08={'金牛': [[[81.5729, 28.6078], [70.5612, 22.9569], [67.1538, 19.1805]], [[68.9799, 16.5097], [84.4111, 21.1425]], [[64.9480, 15.6276], [65.7334, 17.5425]], [[64.9480, 15.6276], [60.1700, 12.4903], [51.2034, 9.0290]], [[68.9799, 16.5097], [67.1538, 19.1805]], [[68.9799, 16.5097], [67.1652, 15.8709], [64.9480, 15.6276]], [[67.1538, 19.1805], [66.3721, 17.928], [65.7334, 17.5425], [57.2905, 24.0535]]]}
    let data_cat_09={'白羊': [[[42.4957, 27.2607], [31.7928, 23.4627], [28.6597, 20.8083], [28.3823, 19.2940]]]}
    let data_cat_10={'双子': [[[99.4279, 16.3994], [106.0272, 20.5703], [110.0307, 21.9823], [109.5233, 16.5404], [101.3226, 12.8960]], [[110.0307, 21.9823], [113.9807, 26.896], [116.1119, 24.3981]], [[113.9807, 26.896], [116.3306, 28.0263]], [[113.9807, 26.896], [111.432, 27.7982], [107.7849, 30.2452], [113.6499, 31.8886]], [[107.7849, 30.2452], [103.1972, 33.9613]], [[107.7849, 30.2452], [100.9830, 25.1311], [97.2407, 20.2121]], [[100.9830, 25.1311], [95.7399, 22.5138], [93.7195, 22.5068], [91.0300, 23.2636]]]}
    let data_cat_11={'巨蟹': [[[131.6742, 28.76], [130.8217, 21.4685], [125.0161, 27.2186]], [[130.8217, 21.4685], [131.1712, 18.1548], [124.1289, 9.1856]], [[131.1712, 18.1548], [134.6216, 11.8577]]]}
    let data_cat_12={'室女': [[[176.4648, 6.5298], [184.6679, -0.7871], [190.4166, -1.4495], [201.2983, -11.1612], [213.2239, -10.2740], [214.0036, -5.9995], [220.7648, -5.6574]], [[201.2983, -11.1612], [203.6739, -0.5959], [210.4115, 1.5445], [221.5624, 1.8929]], [[203.6739, -0.5959], [193.902, 3.3976], [195.5448, 10.9591]], [[193.902, 3.3976], [190.4166, -1.4495]]]}
    let data_cat_13={'天秤': [[[238.4561, -16.7296], [233.8814, -14.7895], [229.2519, -9.3828], [222.7199, -16.0416], [226.0177, -25.2818], [233.8814, -14.7895]]]}
    let data_cat_14={'天蝎': [[[263.4022, -37.1037], [265.6219, -39.0299], [266.8961, -40.1269], [264.3297, -42.9978], [258.0382, -43.2385], [253.4988, -42.3620], [252.9676, -38.0473], [252.5426, -34.2926], [248.9706, -28.2159], [247.3519, -26.4319], [240.0833, -22.6216]], [[247.3519, -26.4319], [239.713, -26.1140]], [[247.3519, -26.4319], [241.3592, -19.8053]]]}
    let data_cat_15={'蛇夫': [[[263.7333, 12.5605], [265.8682, 4.5669]], [[257.5944, -15.7251], [265.8682, 4.5669]], [[263.7333, 12.5605], [254.4177, 9.3750], [244.5801, -4.6926], [249.2897, -10.5671], [257.5944, -15.7251], [262.8539, -23.9625]]]}
    let data_cat_16={'射手': [[[275.2484, -29.8280], [276.9927, -25.4212]], [[274.4072, -36.7612], [276.0431, -34.3843], [271.4521, -30.4236], [266.8901, -27.8307]], [[271.4521, -30.4236], [275.2484, -29.8280], [276.0431, -34.3843], [285.653, -29.8801], [281.4139, -26.9907], [275.2484, -29.8280]], [[281.4139, -26.9907], [276.9927, -25.4212], [273.4408, -21.0588]], [[285.653, -29.8801], [286.7351, -27.6698], [283.8163, -26.2965], [281.4139, -26.9907]], [[283.8163, -26.2965], [284.4324, -21.1066], [286.1705, -21.7413], [289.4087, -18.9528], [290.4182, -17.8472]], [[286.7351, -27.6698], [294.0068, -24.7190], [300.6644, -27.7098], [299.9340, -35.2762], [298.8153, -41.8684], [290.9714, -40.6156]], [[298.8153, -41.8684], [290.8044, -44.7996]]]}
    let data_cat_17={'摩羯': [[[304.5134, -12.5448], [305.2527, -14.7813], [316.4865, -17.2327], [320.5615, -16.8345], [325.0222, -16.6622], [326.7595, -16.1265]], [[320.5615, -16.8345], [321.6667, -22.4113], [316.4865, -17.2327]], [[305.2527, -14.7813], [311.5240, -25.2705]], [[316.4865, -17.2327], [312.9554, -26.9191]]]}
    let data_cat_18={'宝瓶': [[[322.8896, -5.5711], [331.4459, -0.3198], [335.4137, -1.3873], [337.2074, -0.0200], [338.8388, -0.1173], [343.1535, -7.5796], [348.972, -9.0876], [350.7429, -20.1003]], [[331.4459, -0.3198], [334.2082, -7.7832], [331.6092, -13.8695]], [[334.2082, -7.7832], [337.6617, -10.6778], [342.3979, -13.5925], [343.6626, -15.8207], [347.3615, -21.1724]], [[311.9188, -9.4956], [322.8896, -5.5711]]]}
    let data_cat_19={'双鱼': [[[15.7045, 31.8043], [18.4372, 24.5837]], [[15.7045, 31.8043], [19.8665, 27.2640], [18.4372, 24.5837], [22.8707, 15.3458], [26.3482, 9.1576], [30.5116, 2.7637], [28.3889, 3.1874], [25.3579, 5.4876], [22.5455, 6.1439], [15.7360, 7.8900], [12.1704, 7.5851], [5.1494, 8.1902], [359.8275, 6.8635], [354.9867, 5.6273], [355.512, 1.7804], [351.7329, 1.2558], [349.2895, 3.2822], [351.9923, 6.3791], [354.9867, 5.6273]]]}

    let aladin;
    let current_sys_name = 'xmo';
    const dic_sys_name_params = {
        "kats": {"name":"KATS","img_w":"3.33333334","img_h":"2.216666667"},
        "east": {"name":"EAST","img_w":"7.35","img_h":"5.51666667"},
        "pat" : {"name":"PAT" ,"img_w":"1.95","img_h":"1.95"},
        "gy7" : {"name":"GY7" ,"img_w":"3.33333334","img_h":"2.216666667"},
    };

    var overlays = {};

    // 创建 overlay 并以名字存储
    function createOverlay(name, color) {
        var overlay = A.graphicOverlay({color: color, lineWidth: 2});
        aladin.addOverlay(overlay);
        overlays[name] = overlay;
    }

    // 根据名字更改 overlay 的颜色
    function changeOverlayStyle(name, color) {
        var overlay = overlays[name];
        if (overlay) {
            overlay.color = color;
            aladin.removeOverlay(overlay);
            aladin.addOverlay(overlay);
        }
    }
    function getRandomInt(min, max) {
      min = Math.ceil(min);
      max = Math.floor(max);
      return Math.floor(Math.random() * (max - min)) + min; // 不含最大值，含最小值
    }
    function randomHexColor() {
    const hexChars = '0123456789ABCDEF';
    let color = '#';
    for (let i = 0; i < 6; i++) {
        color += hexChars[getRandomInt(0, 15)];  // 随机选择一个十六进制字符
    }
    return color;  // 返回十六进制格式的颜色字符串
}
    function calc_row_col(temp_image_w, temp_image_h){
        {#let temp_image_w = 2.2166666667;#}
        {#let temp_image_h = 3.3333333334;#}
        {#let start_deg = -10.0;#}
       $.getJSON( "clear_session_data", {}
               , function( data ) {
            toastr.warning('准备生成');
       }).fail(function() { toastr.error('服务器错误'); });

        let start_deg = 0.0;
        let end_deg = 85.0;
        let dec_wid = end_deg - start_deg;
        let generate_num_north = Math.floor(dec_wid / temp_image_h) + 1;
        if(generate_num_north % 3 > 0){
            generate_num_north = generate_num_north + 3 - (generate_num_north % 3);
        }
        {#let generate_num_south = Math.floor(10 / temp_image_h);#}
        {#let temp_image_w_rad = temp_image_w * Math.PI / 180;#}

        {#generate_num_north = 4;#}
        for (let i=0;i<generate_num_north;i++){
            let temp_overlap_min = temp_image_w / 200;
            let temp_overlap_max = temp_image_w / 20;
            let temp_overlap_angle_level_deg =  temp_image_h * i;
            let temp_overlap_angle_level_rad =  temp_overlap_angle_level_deg * Math.PI / 180;
            let temp_overlap_using = temp_overlap_min + (temp_overlap_max-temp_overlap_min)*Math.sin(temp_overlap_angle_level_rad) ;
            {#let temp_overlap_using = sin(dec) + temp_overlap_min;#}
            let temp_center_dec = start_deg + (temp_image_h - temp_overlap_using) * i;
            let temp_center_dec_rad = temp_center_dec * Math.PI / 180;
            let temp_row_count = 1;
            let temp_col_count = 1;
            {#temp_col_count = Math.floor(360 / temp_image_w);#}
            let temp_image_w_alpa = temp_image_w * (1 / Math.cos(temp_center_dec_rad))
            {#console.log("cos" +  Math.cos(temp_center_dec_rad)  + "   1 cos" + (1 / Math.cos(temp_center_dec_rad)));#}
            {#console.log("alpa" + temp_center_dec_rad);#}
            temp_col_count = Math.ceil(360 / (temp_image_w_alpa - temp_overlap_using));
            {#temp_col_count = Math.ceil(360 / (temp_image_w - temp_overlap_using));#}
            if(temp_overlap_angle_level_deg > 50 ){
                //高度越高 大圆弧度对应小圆弧度的折损 越多
                temp_col_count = temp_col_count + 1;
            }
            $("#x_img_val").val(temp_image_w);
            $("#y_img_val").val(temp_image_h);
            $("#overlap_val").val(temp_overlap_using);
            $("#x_row_val").val(temp_row_count);
            $("#y_col_val").val(temp_col_count);
            $("#x_cen_val").val(0);
            $("#y_cen_val").val(temp_center_dec);
            {#console.log("i=%{"+i+"}  count["+generate_num_north+"]  弧长对应夹角["+temp_image_w_alpa+"]  dec ["+temp_center_dec+"]");#}
            {#console.log("rad=%{"+temp_center_dec_rad+"} 列数["+temp_col_count+"]   行数["+generate_num_north+"] 重叠【"+temp_overlap_using+"]" );#}
            if($('#do-generate').is(":checked"))
            {
                $("#draw-sun-button").click();
            }

        }

    }
    function calc_row_col_jgg(temp_image_w, temp_image_h){
       $.getJSON( "clear_session_data", {}
               , function( data ) {
            toastr.warning('准备生成');
       }).fail(function() { toastr.error('服务器错误'); });

        let start_deg = 0.0;
        let end_deg = 85.0;
        let dec_wid = end_deg - start_deg;
        let generate_num_north = Math.floor(dec_wid / temp_image_h);
        generate_num_north = (generate_num_north / 3 ) * 3;
        let jgg_row_count = generate_num_north/3;

        for (let i=0;i<jgg_row_count;i++){
            for(let j=0;j<3;j++){
                let temp_center_dec = start_deg + temp_image_h * i + (temp_image_h*(j-1));
                let temp_row_count = 1;
                let temp_col_count = temp_col_count = Math.ceil(360 / temp_image_w);
                //todo 计算中心左右两点的经度差a 用360/a 得到数量
                temp_col_count = (temp_col_count / 3) * 3;

                $("#x_img_val").val(temp_image_w);
                $("#y_img_val").val(temp_image_h);
                $("#overlap_val").val("0");
                $("#x_row_val").val(temp_row_count);
                $("#y_col_val").val(temp_col_count);
                $("#x_cen_val").val(0);
                $("#y_cen_val").val(temp_center_dec);
                {#console.log("i=%{"+i+"}  count["+generate_num_north+"]  弧长对应夹角["+temp_image_w_alpa+"]  dec ["+temp_center_dec+"]");#}
                {#console.log("rad=%{"+temp_center_dec_rad+"} 列数["+temp_col_count+"]   行数["+generate_num_north+"] 重叠【"+temp_overlap_using+"]" );#}
                if($('#do-generate').is(":checked"))
                {
                    $("#draw-sun-button").click();
                }
            }

        }

    }
    function manual_generate_row_col(temp_image_w, temp_image_h){
       $.getJSON( "clear_session_data", {}
               , function( data ) {
            toastr.warning('准备生成');
       }).fail(function() { toastr.error('服务器错误'); });
        let start_deg = 0.0;
        let generate_num_north = 39;
        let overlap_hi_array = [0.003,0.003,0.003,0.003,0.003,0.003,
                                0.003,0.003,0.003,0.003,0.003,0.003,
                                0.003,0.003,0.003,0.003,0.003,0.003,
                                0.003,0.003,0.003,0.003,0.003,0.003,
                                0.003,0.003,0.003,0.003,0.003,0.003,
                                0.003,0.003,0.003,0.003,0.003,0.003,
                                0.003,0.003,0.003
        ];
        let overlap_wid_array = [0.003,0.0055,0.0128,0.0231,0.0405,0.0629,
                                 0.001,0.0347,0.0729,0.0201,0.0705,0.1229,
                                 0.081,0.1460,0.2159,0.0931,0.1773,0.2662,
                                 0.041,0.1495,0.2627,0.0245,0.1615,0.3030,
                                 0.055,0.2260,0.4017,0.1451,0.3585,0.5765,
                                 0.115,0.4015,0.6925,0.1190,0.5282,0.9420,
                                 0.176,0.8485,1.5250
        ];
        let col_array = [108,108,108,108,108,108,
                         105,105,105,102,102,102,
                         99,99,99,93,93,93,
                         84,84,84,75,75,75,
                         66,66,66,57,57,57,
                         45,45,45,33,33,33,
                         21,21,21
        ];
        for (let i=0;i<generate_num_north;i++){
            if(i<15 || i >= 18){
                {#continue;#}
            }
            let temp_overlap_wid_using = overlap_wid_array[i] ;
            let temp_center_dec = start_deg + (temp_image_h - overlap_hi_array[i]) * i;
            let temp_row_count = 1;
            let temp_col_count = col_array[i];
            $("#x_img_val").val(temp_image_w);
            $("#y_img_val").val(temp_image_h);
            $("#overlap_val").val(temp_overlap_wid_using);
            $("#x_row_val").val(temp_row_count);
            $("#y_col_val").val(temp_col_count);
            $("#x_cen_val").val(0);
            $("#y_cen_val").val(temp_center_dec);
            console.log("i=%{"+i+"}  count["+generate_num_north+"] ");
            console.log("rad=%{} 列数["+temp_col_count+"]   行数["+generate_num_north+"] 重叠 w["
                +temp_overlap_wid_using+"] 重叠h [" + overlap_hi_array[i] +"]" );

            $("#draw-sun-button").click();


        }

    }
    function onClickAladin() {
        let raDec = aladin.getRaDec();
        $("#x_cen_val").val(raDec[0]);
        $("#y_cen_val").val(raDec[1]);
        console.log("Double clicked at RA: " + raDec[0] + ", Dec: " + raDec[1]);
    }
    let overlay_catalog = A.graphicOverlay({color: '#ee2345', lineWidth: 2});
    function drawCatlogLine(lines){
        for (let i = 0; i < lines.length; i++) {
            overlay_catalog.add(A.polyline(lines[i]))
        }

    }
    A.init.then(() => {
        aladin = A.aladin('#aladin-lite-div', {fov: 180, projection: "AIT", fullScreen: false,
            expandLayersControl: false, cooFrame: 'equatorial', showProjectionControl: true,
            showCooGridControl: true, showSimbadPointerControl: true, showCooGrid: true, showShareControl:false,
            showGotoControl:true, target: 'Sun', showContextMenu: true});

        // manage URL parameters
        const searchParams = new URL(document.location).searchParams;
        if (searchParams.has('baseImageLayer')) {
            aladin.setBaseImageLayer(searchParams.get('baseImageLayer'));
        }
        if (searchParams.has('overlayImageLayer')) {
            aladin.setOverlayImageLayer(searchParams.get('overlayImageLayer'));
        }
        if (searchParams.has('cooFrame')) {
            aladin.setFrame(searchParams.get('cooFrame'));
        }
        if (searchParams.has('fov')) {
            aladin.setFoV(parseFloat(searchParams.get('fov')));
        }
        if (searchParams.has('ra') && searchParams.has('dec')) {
            aladin.gotoRaDec(parseFloat(searchParams.get('ra')), parseFloat(searchParams.get('dec')));
        }
        if (searchParams.has('showReticle')) {
            aladin.showReticle(searchParams.get('showReticle')==='true');
        }
        if (searchParams.has('projection')) {
            aladin.setProjection(searchParams.get('projection'));
        }
        if (searchParams.has('showCooGrid')) {
            const b = searchParams.get('showCooGrid') === 'true';
            aladin.view.setGridConfig({
                enabled: b
            });
        }
        aladin.view.setGridConfig({
             fmt: "HMS" ,thickness: 6,
             color: { r: 0.4, g: 0.5, b: 0.1 },
             opacity: 0.7,
             labelSize: 20
        });
		
		{#let overlay = A.graphicOverlay({color: '#ee2345', lineWidth: 2});#}
        {#aladin.addOverlay(overlay);#}
        {#overlay.add(A.ellipse(10.6833, 41.2669, 3.33333/2, 1.1798333/2, 35));#}
		{#overlay.add(A.polyline([ [2.29452158, 59.14978110], [10.12683778, 56.53733116], [14.1772154, 60.7167403], [21.45396446, 60.23528403], [28.59885697, 63.67010079] ]));#}
		{#overlay.add(A.polyline([ [165.929, 61.75],[165.45, 56.38],[178.45, 53.69],[183.85 , 57.032],[193.50 , 55.959],[200.98 , 54.925],[206.88 , 49.313]]));#}
		{#overlay.add(A.polyline(data_cat_01.大熊[0]))#}

        aladin.addOverlay(overlay_catalog);
        drawCatlogLine(data_cat_01.大熊)
        drawCatlogLine(data_cat_02.小熊)
        drawCatlogLine(data_cat_03.仙后)
        drawCatlogLine(data_cat_04.猎户)
        drawCatlogLine(data_cat_05.狮子)
        drawCatlogLine(data_cat_06.飞马)
        drawCatlogLine(data_cat_07.天鹅)
        drawCatlogLine(data_cat_08.金牛)
        drawCatlogLine(data_cat_09.白羊)
        drawCatlogLine(data_cat_10.双子)
        drawCatlogLine(data_cat_11.巨蟹)
        drawCatlogLine(data_cat_12.室女)
        drawCatlogLine(data_cat_13.天秤)
        drawCatlogLine(data_cat_14.天蝎)
        drawCatlogLine(data_cat_15.蛇夫)
        drawCatlogLine(data_cat_16.射手)
        drawCatlogLine(data_cat_17.摩羯)
        drawCatlogLine(data_cat_18.宝瓶)
        drawCatlogLine(data_cat_19.双鱼)


		var marker1 = A.marker(0.1, 89.9, {popupTitle: '0.1 89.9', popupDesc: 'Object type: Pulsar'});
		var marker2 = A.marker(1, 89, {popupTitle: 'HD 164514', popupDesc: 'Object type: Star in cluster'});
		var marker3 = A.marker(0, 90, {popupTitle: '0  90', popupDesc: 'Object type: Double star'});
		var markerLayer = A.catalog({name: 'Some markers', sourceSize: 18,color: '#ffff11'});
		aladin.addCatalog(markerLayer);
		markerLayer.addSources([ marker3]);

        {#aladin.on('click', onClickAladin);#}
        /**
        aladin.on('click', function(e) {
            console.log('Clicked at RA, Dec:', e.ra, e.dec); // 打印被点击位置的赤经和赤纬
        });
        aladin.on('positionChanged', function(e) {
            {#console.log('View center has changed to:', e.ra, e.dec);#}
        });
         **/
        aladin.on('footprintClicked', function(e) {
             e.isSelected = !e.isSelected;
            console.log(e);
            toastr.warning(e.isSelected);
        });

    });
    $(document).ready(function() {
        console.log({{ req_date }})
        const default_req_date = moment({{ req_date }},'YYYYMMDD');
        // $('#table_tele_sys').dataTable({"paging": false});
        $('#req_date_picker').datetimepicker({
          format: "yyyyMMDD",
           defaultDate: default_req_date,
          singleDatePicker: true,
        });
       $("#req_date_picker").on("change.datetimepicker", ({date, oldDate}) => {
         let req_date_url;
         if (oldDate !== null) {
           req_date_url = $("#req_date").val();
           console.log(req_date_url);
           window.location.href = "/dashboard?req_date="+req_date_url;
         }
        });


       $('#draw-sun-button').on('click', function () {
          $('#out-plan-path').text('----');
          let ex_message_ser = '';
          {#$.getJSON( "draw_sun", {req_overlap_deg:$("overlap_val").val()}#}
          let overlap_temp = $("#overlap_val").val();
          let x_row_temp = $("#x_row_val").val();
          let y_col_temp = $("#y_col_val").val();
          let x_img_temp = $("#x_img_val").val();
          let y_img_temp = $("#y_img_val").val();
          let x_cen_temp = $("#x_cen_val").val();
          let y_cen_temp = $("#y_cen_val").val();
          console.log("sys_name: " + current_sys_name)
          $.getJSON( "draw_sun", {req_overlap_deg:overlap_temp, req_row_int:x_row_temp, req_col_int:y_col_temp,
              req_x_img_deg:x_img_temp, req_y_img_deg:y_img_temp,req_ra_deg:x_cen_temp,req_dec_deg:y_cen_temp,
              req_sys_name:current_sys_name,
              }
            , function( data ) {
              console.log(data);
			let marker_sun = A.marker(data.sun_ra, data.sun_dec, {popupTitle: '太阳', popupDesc: '--'});
			let markerLayer_sun = A.catalog({name: '太阳', sourceSize: 18,color: '#ffAA11'});
			aladin.addCatalog(markerLayer_sun);
			markerLayer_sun.addSources([marker_sun]);

			let marker_moon = A.marker(data.moon_ra, data.moon_dec, {popupTitle: '月亮', popupDesc: '--'});
			let markerLayer_moon = A.catalog({name: '月', sourceSize: 18,color: '#AAAAAA'});
			aladin.addCatalog(markerLayer_moon);
			markerLayer_moon.addSources([marker_moon]);

            let sun_curve = data.sun_curve;
            let markers_sun = [];
            for (let i = 0; i < sun_curve.length; i++) {
			  let marker_sun_temp = A.marker(sun_curve[i][0], sun_curve[i][1], {popupTitle: '', popupDesc: ''});
              markers_sun.push(marker_sun_temp)
            }
			let markerLayer_sun_curve = A.catalog({name: '--', sourceSize: 8,color: '#FFAA11'});
			aladin.addCatalog(markerLayer_sun_curve);
			markerLayer_sun_curve.addSources(markers_sun);

            let moon_curve = data.moon_curve;
            let markers_moon = [];
            for (let i = 0; i < moon_curve.length; i++) {
			  let marker_moon_temp = A.marker(moon_curve[i][0], moon_curve[i][1], {popupTitle: '', popupDesc: ''});
              markers_moon.push(marker_moon_temp)
            }
			let markerLayer_moon_curve = A.catalog({name: '-', sourceSize: 8,color: '#AAAAAA'});
			aladin.addCatalog(markerLayer_moon_curve);
			markerLayer_moon_curve.addSources(markers_moon);

            {#return;#}
            let plan_area = data.areas;
            let overlay_areas = A.graphicOverlay({name: 'areas', color: '#8ebd84', lineWidth: 1});
            aladin.addOverlay(overlay_areas);
            for(let i = 0; i < plan_area.length; i++){
                {#console.log(plan_area[i]);#}
                {#let overlay_areas = A.graphicOverlay({name: 'a_'+i, color: '#8ebd84', lineWidth: 2});#}
                {#aladin.addOverlay(overlay_areas);#}
              //  overlay_areas.addFootprints([A.polygon(plan_area[i])]);

                {#for(let j=0; j<plan_area[i].length; j++ ){#}
                {#    let marker_cor = A.marker(plan_area[i][j][0], plan_area[i][j][1], {popupTitle: 'Cen', popupDesc: plan_area[i][j][0]+'  '+plan_area[i][j][1]});#}
                {#    let markerLayer_cor = A.catalog({name: 'Center', sourceSize: 14,color: '#a606f8'});#}
                {#    aladin.addCatalog(markerLayer_cor);#}
                {#    markerLayer_cor.addSources([marker_cor]);#}
                {#    console.log(plan_area[i][j][0])#}
                {#    console.log(plan_area[i][j][1])#}
                {##}
                {# }#}
            }


			{#let marker_cen = A.marker(data.center_ra, data.center_dec, {popupTitle: 'Cen', popupDesc: data.center_ra+'  '+data.center_dec});#}
			{#let markerLayer_cen = A.catalog({name: 'Center', sourceSize: 10,color: '#cc00ff'});#}
            {##}
            {#let centers_data = data.centers;#}
            //for(let i = 0; i < centers_data.length; i++) {
                {#let marker_cen_item = A.marker(centers_data[i][0], centers_data[i][1], {popupTitle: 'Cen', popupDesc: centers_data[i][0]+'  '+centers_data[i][1]});#}
                {#markerLayer_cen.addSources([marker_cen_item]);#}
            //}

			{#aladin.addCatalog(markerLayer_cen);#}
			{#markerLayer_cen.addSources([marker_cen]);#}
            console.log(data.center_ra)
            console.log(data.center_dec)

            ex_message_ser = data.ex_message;
            toastr.success('结果数目： ' +data.areas.length);
            $('#out-plan-path').text(data.out_path.replace('\\','/'));
            if(ex_message_ser.length > 0){
              toastr.warning(ex_message_ser);
            }

          }).fail(function() { toastr.error('服务器错误'); })


       });

       $('#draw-jgg-button').on('click', function () {
          $('#out-plan-path').text('----');
          let ex_message_ser = '';
          let overlap_temp = $("#overlap_val").val();
          let x_row_temp = $("#x_row_val").val();
          let y_col_temp = $("#y_col_val").val();
          let x_img_temp = $("#x_img_val").val();
          let y_img_temp = $("#y_img_val").val();
          let x_cen_temp = $("#x_cen_val").val();
          let y_cen_temp = $("#y_cen_val").val();
          let col_max_ra_deg_temp = $("#req_col_max_ra_deg").val();
          let row_max_dec_deg_temp = $("#req_row_max_dec_deg").val();
          console.log("sys_name: " + current_sys_name)
          $.getJSON( "draw_all_sky_by_jgg", {req_overlap_deg:overlap_temp, req_row_int:x_row_temp, req_col_int:y_col_temp,
              req_x_img_deg:x_img_temp, req_y_img_deg:y_img_temp,req_ra_deg:x_cen_temp,req_dec_deg:y_cen_temp,
              req_sys_name:current_sys_name,req_col_max_ra_deg:col_max_ra_deg_temp,req_row_max_dec_deg:row_max_dec_deg_temp,
              }, function( data ) {
              console.log(data);

            let plan_area = data.areas;
            let overlay_areas = A.graphicOverlay({name: 'areas', color: '#8ebd84', lineWidth: 1});
            aladin.addOverlay(overlay_areas);
            for(let i = 0; i < plan_area.length; i++){
                {#console.log(plan_area[i]);#}
                {#let overlay_areas = A.graphicOverlay({name: 'a_'+i, color: '#8ebd84', lineWidth: 2});#}
                {#aladin.addOverlay(overlay_areas);#}
                overlay_areas.addFootprints([A.polygon(plan_area[i])]);

                {#for(let j=0; j<plan_area[i].length; j++ ){#}
                {#    let marker_cor = A.marker(plan_area[i][j][0], plan_area[i][j][1], {popupTitle: 'Cen', popupDesc: plan_area[i][j][0]+'  '+plan_area[i][j][1]});#}
                {#    let markerLayer_cor = A.catalog({name: 'Center', sourceSize: 14,color: '#a606f8'});#}
                {#    aladin.addCatalog(markerLayer_cor);#}
                {#    markerLayer_cor.addSources([marker_cor]);#}
                {#    console.log(plan_area[i][j][0])#}
                {#    console.log(plan_area[i][j][1])#}
                {##}
                {# }#}
            }


			let marker_cen = A.marker(data.center_ra, data.center_dec, {popupTitle: 'Cen', popupDesc: data.center_ra+'  '+data.center_dec});
			let markerLayer_cen = A.catalog({name: 'Center', sourceSize: 10,color: '#cc00ff'});

            let centers_data = data.centers;
            for(let i = 0; i < centers_data.length; i++) {
                let marker_cen_item = A.marker(centers_data[i][0], centers_data[i][1], {popupTitle: 'Cen', popupDesc: centers_data[i][0]+'  '+centers_data[i][1]});
                markerLayer_cen.addSources([marker_cen_item]);
            }

			aladin.addCatalog(markerLayer_cen);
			markerLayer_cen.addSources([marker_cen]);
            console.log(data.center_ra)
            console.log(data.center_dec)

            ex_message_ser = data.ex_message;
            toastr.success('结果数目： ' +data.areas.length);
            $('#out-plan-path').text(data.out_path.replace('\\','/'));
            if(ex_message_ser.length > 0){
              toastr.warning(ex_message_ser);
            }

          }).fail(function() { toastr.error('服务器错误'); })


       });

       $("#overlap_val").on("input", function () {
          let inputValue = $(this).val();
          // 使用正则表达式进行校验 小数数字输入
          let regex = /^[0-9]+(\.[0-9]+)?$/;
          $(this).removeClass("is-warning");
          if (regex.test(inputValue)) {
          $(this).removeClass("is-invalid").addClass("is-valid");
          console.log("输入合法");
          } else {
            $(this).removeClass("is-valid").addClass("is-invalid");
              console.log("输入不合法");
          }
      });
       $("#get-ra-dec-button").on("click",function (){
         onClickAladin();
       });
       $("#clear-plan-squire-button").on("click",function (){
         aladin.removeLayers();
       });
       /**
       $("#aladin-lite-div").on("dblclick",function (){
         onClickAladin();
       });**/
       $("#switch-to-kats-button").on("click",function (){
            current_sys_name = $('#switch-to-kats-button').data('sysname');
            calc_row_col(dic_sys_name_params["kats"]["img_w"], dic_sys_name_params["kats"]["img_h"]);
       });
       $("#manual-gen-kats-button").on("click",function (){
            current_sys_name = $('#switch-to-kats-button').data('sysname');
            manual_generate_row_col(dic_sys_name_params["kats"]["img_w"], dic_sys_name_params["kats"]["img_h"]);
       });
       $("#switch-to-east-button").on("click",function (){
            current_sys_name = $('#switch-to-east-button').data('sysname');
            calc_row_col(dic_sys_name_params["east"]["img_w"], dic_sys_name_params["east"]["img_h"]);
       });
       $("#switch-to-pat-button").on("click",function (){
            current_sys_name = $('#switch-to-pat-button').data('sysname');
            calc_row_col(dic_sys_name_params["pat"]["img_w"], dic_sys_name_params["pat"]["img_h"]);
       });
       $("#switch-to-gy7-button").on("click",function (){
            current_sys_name = $('#switch-to-gy7-button').data('sysname');
            calc_row_col(dic_sys_name_params["gy7"]["img_w"], dic_sys_name_params["gy7"]["img_h"]);
       });
       $("#load-from-kats-button").on("click",function (){
          let overlap_temp = $("#overlap_val").val();
          let x_row_temp = $("#x_row_val").val();
          let y_col_temp = $("#y_col_val").val();
          let x_img_temp = $("#x_img_val").val();
          let y_img_temp = $("#y_img_val").val();
          let x_cen_temp = $("#x_cen_val").val();
          let y_cen_temp = $("#y_cen_val").val();
           $.getJSON( "draw_load_plan", {req_overlap_deg:overlap_temp, req_row_int:x_row_temp, req_col_int:y_col_temp,
              req_x_img_deg:x_img_temp, req_y_img_deg:y_img_temp,req_ra_deg:x_cen_temp,req_dec_deg:y_cen_temp}
               , function( data ) {

            let plan_area = data.areas;
            let overlay_areas = A.graphicOverlay({name: 'areas', color: '#00a0f8', lineWidth: 1});
            aladin.addOverlay(overlay_areas);
            console.log("len:  " + plan_area.length)
            for(let i = 0; i < plan_area.length; i++){
                overlay_areas.addFootprints([A.polygon(plan_area[i])]);
            }

          }).fail(function() { toastr.error('服务器错误'); });
       });
       $("#load-from-jgg-button").on("click",function (){
          let overlap_temp = $("#overlap_val").val();
          let x_row_temp = $("#x_row_val").val();
          let y_col_temp = $("#y_col_val").val();
          let x_img_temp = $("#x_img_val").val();
          let y_img_temp = $("#y_img_val").val();
          let x_cen_temp = $("#x_cen_val").val();
          let y_cen_temp = $("#y_cen_val").val();
           $.getJSON( "draw_load_jgg_plan", {req_overlap_deg:overlap_temp, req_row_int:x_row_temp, req_col_int:y_col_temp,
              req_x_img_deg:x_img_temp, req_y_img_deg:y_img_temp,req_ra_deg:x_cen_temp,req_dec_deg:y_cen_temp}
               , function( data ) {
            let plan_area_jgg = data.areas_jgg;
            console.log("len:  " + plan_area_jgg.length)
            for(let i = 0; i < plan_area_jgg.length; i++){
                let jgg_item = plan_area_jgg[i];
                let overlay_areas = A.graphicOverlay({name: 'areas', color: randomHexColor(), lineWidth: 1});
                aladin.addOverlay(overlay_areas);
                console.log("len:  " + jgg_item.length)
                for(let j = 0; j < jgg_item.length; j++){
                    overlay_areas.addFootprints([A.polygon(jgg_item[j])]);
                }
            }
            toastr.success('结果数目： ' +plan_area_jgg.length);
          }).fail(function() { toastr.error('服务器错误'); });
       });
       $("#combine-jgg-button").on("click",function (){
          let overlap_temp = $("#overlap_val").val();
          let x_row_temp = $("#x_row_val").val();
          let y_col_temp = $("#y_col_val").val();
          let x_img_temp = $("#x_img_val").val();
          let y_img_temp = $("#y_img_val").val();
          let x_cen_temp = $("#x_cen_val").val();
          let y_cen_temp = $("#y_cen_val").val();
           $.getJSON( "generate_jgg_from_session", {req_overlap_deg:overlap_temp, req_row_int:x_row_temp, req_col_int:y_col_temp,
              req_x_img_deg:x_img_temp, req_y_img_deg:y_img_temp,req_ra_deg:x_cen_temp,req_dec_deg:y_cen_temp}
               , function( data ) {

            let plan_area_jgg = data.areas_jgg;
            console.log("len:  " + plan_area_jgg.length)
            for(let i = 0; i < plan_area_jgg.length; i++){
                let jgg_item = plan_area_jgg[i];
                let overlay_areas = A.graphicOverlay({name: 'areas', color: randomHexColor(), lineWidth: 1});
                aladin.addOverlay(overlay_areas);
                console.log("len:  " + jgg_item.length)
                for(let j = 0; j < jgg_item.length; j++){
                    overlay_areas.addFootprints([A.polygon(jgg_item[j])]);
                }
            }

		   let markerLayer_cen = A.catalog({name: 'Center', sourceSize: 10,color: '#88a1fd'});
           for(let i = 0; i < data.centers_jgg.length; i++){
                let centers_data = data.centers_jgg[i];
                {#console.log(centers_data);#}
                for(let i = 0; i < centers_data.length; i++) {
                    let marker_cen_item = A.marker(centers_data[i][0], centers_data[i][1], {popupTitle: 'Cen', popupDesc: centers_data[i][0]+'  '+centers_data[i][1]});
                    markerLayer_cen.addSources([marker_cen_item]);
                }
           }
			aladin.addCatalog(markerLayer_cen);

          }).fail(function() { toastr.error('服务器错误'); });
       });

       $("#simple-jgg-kats-button").on("click",function (){
        $("#x_img_val").val(dic_sys_name_params["gy7"]["img_w"]);
        $("#y_img_val").val(dic_sys_name_params["gy7"]["img_h"]);
          let dec_start_temp = $("#simple_dec_start_val").val();
          let dec_end_temp = $("#simple_dec_end_val").val();
          let x_img_temp = dic_sys_name_params["gy7"]["img_w"];
          let y_img_temp = dic_sys_name_params["gy7"]["img_h"];
          current_sys_name = $('#switch-to-gy7-button').data('sysname');
          toastr.warning('准备生成');
           $.getJSON( "draw_simple_jgg_plan", {req_dec_start_deg:dec_start_temp, req_dec_end_deg:dec_end_temp,
              req_x_img_deg:x_img_temp, req_y_img_deg:y_img_temp,req_sys_name:current_sys_name}
               , function( data ) {

            let plan_area_jgg = data.areas_jgg;
            console.log("len:  " + plan_area_jgg.length);
            let area_colors = ["#8ebd84","#cc00ff","#83e5d6","#f8c67c"]
            let overlay_areas = A.graphicOverlay({name: 'areas', color: area_colors[0], lineWidth: 4});
            aladin.addOverlay(overlay_areas);
            for(let i = 0; i < plan_area_jgg.length; i++){
                let jgg_item = plan_area_jgg[i];
                {#let overlay_areas = A.graphicOverlay({name: 'areas', color: area_colors[i%2], lineWidth: 4});#}
                {#aladin.addOverlay(overlay_areas);#}
                {#console.log("len:  " + jgg_item)#}
                for(let j = 0; j < jgg_item.length; j++){
                    overlay_areas.addFootprints([A.polygon(jgg_item[j],{color:area_colors[i%2],lineWidth:16,name:'xxx'})]);
                }
            }

		   let markerLayer_cen = A.catalog({name: 'Center', sourceSize: 10,color: '#88a1fd'});
           aladin.addCatalog(markerLayer_cen);
           for(let i = 0; i < data.centers.length; i++){
                let centers_data = data.centers[i];
                {#console.log(centers_data);#}
                let marker_cen_item = A.marker(centers_data[0], centers_data[1], {popupTitle: 'Cen', popupDesc: centers_data[0]+'  '+centers_data[1]});
                markerLayer_cen.addSources([marker_cen_item]);

           }

            toastr.success('结果数目： ' +plan_area_jgg.length);
            $('#out-plan-path').text(data.out_path.replace('\\','/'));
          }).fail(function() { toastr.error('服务器错误'); });
       });
        $("input[data-bootstrap-switch]").each(function(){
          $(this).bootstrapSwitch('state', $(this).prop('checked'));
        })
    });

</script>

</body>
</html>
